// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);

@import "customVariables";

@import "bootstrap";
@import "bootstrap-compass";
@import "fontawesome/font-awesome";

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
